#main-content {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 55px;
    background-color: #e2e2e2;
    padding: 50px;
    border: 1px solid #000;
    font-family: open sans;
}

#poster {
    float: left;
    max-width: 300px; 
    margin-left: 25px;
    margin-right: 25px;
}

ul, li {
    padding-right: 50px;
}