@color-base1: #ddb203;
@color-base2: #cccccc;

[ng-cloak] {
    display: none !important;
}

.main-container {
    max-width: 500px;
/*  margin-right: auto;
    margin-left: auto;*/
    margin-top: 55px;
    margin-left: 10px;
    background-color: #e2e2e2;
    padding: 30px;
    border: 1px solid #000;
    display: flex;
    flex-direction: row;
    font-family: "Open Sans", sans-serif;
}

h1 {
    margin-top: -10px;
    margin-left: -10px;
    text-align: center;
}

.infosection {
    flex-grow: 1;
}

.poster {
    float: left;
    max-width: 200px; 
    margin-left: 25px;
    margin-right: 25px;
}

p {
    font-size: 10px;
    margin-left: 15px;
}

ul {
    font-size: 10px;
    margin-left: -10px;
}

.stars .filled {
    /*Alla de klasser som har förälderklassen .stars och som är .filled*/
    color: @color-base1;
}

.stars span {
    color: @color-base2;
    user-select: none;
    cursor: pointer;
}

.stars {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 17px;
}